In [12]:
# 삼항 표현식(Ternary operator)
x,y,a,b = 1,2,1,2
result = x if a > b else y
result

2

# 내장 자료구조

In [15]:
# 튜플 합
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [16]:
# 튜플 곱
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [17]:
# Unpacking tuples
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [21]:
# Tuple methods
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [22]:
# list
a_list = ['foo', 'peekaboo', 'baz']
a_list

['foo', 'peekaboo', 'baz']

In [24]:
# Adding and removing elements from list
# append
a_list.append('baz')
a_list

['foo', 'peekaboo', 'baz', 'baz', 'baz']

In [27]:
# insert
a_list.insert(0,'baz')
a_list

['baz', 'baz', 'foo', 'peekaboo', 'baz', 'baz', 'baz']

In [28]:
# pop
a_list.pop(0)
a_list

['baz', 'foo', 'peekaboo', 'baz', 'baz', 'baz']

In [30]:
# remove, 왼쪽부터 없앤다.
a_list.remove('baz')
a_list

['foo', 'peekaboo', 'baz', 'baz']

In [20]:
# zip
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [36]:
# 이진 탐색
# bisect 메서드는 값이 추가될 때 리스트가 정렬된 상태를 유지할 수 있는 위치 반환
# insort 메서드는 실제로 정렬된 상태를 유지한 채 값을 추가
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
print(bisect.bisect(c, 5))
bisect.insort(c,3)
print(c)

6
[1, 2, 2, 2, 3, 3, 4, 7]

In [37]:
# dict
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [39]:
# 사전값에 접근 혹은 입력
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [42]:
# 사전의 키 확인
'b' in d1

True

In [43]:
# 키 삭제
print(d1)
del d1[7]
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}
{'a': 'some value', 'b': [1, 2, 3, 4]}

In [44]:
# 하나의 사전을 다른 사전과 합침
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 'c': 12}

In [45]:
# zip은 dict 생성에 유용함
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

# 함수

In [54]:
# lambda 함수
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [73]:
# itemgetter :  sorted와 같은 함수의 key 매개변수에 적용되어 다중 수준의 정렬을 가능하게 해주는 모듈
from operator import itemgetter

students = [
    ("jane", 22, 'A'),
    ("dave", 32, 'B'),
    ("sally", 17, 'B'),
]

result = sorted(students, key=itemgetter(1))
print(result)

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [69]:
# groupby
from itertools import groupby
m = [(1,2),(2,3),(3,4),(1,2)]
for key,group in groupby(sorted(m)):
    print((key,list(group)))

((1, 2), [(1, 2), (1, 2)])
((2, 3), [(2, 3)])
((3, 4), [(3, 4)])

In [74]:
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [75]:
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in groupby(sorted(names,key=first_letter), first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam', 'Albert']
S ['Steven']
W ['Wes', 'Will']

In [66]:
#3P2의 경우 구하기
from itertools import permutations
items = ['A', 'B', 'C']
for p in permutations(items, 2):
    print(p)

('A', 'B')
('A', 'C')
('B', 'A')
('B', 'C')
('C', 'A')
('C', 'B')

In [67]:
#3C2의 경우 구하기, combinations_with_replacement : 중복조합
from itertools import combinations
items = ['A', 'B', 'C']
for c in combinations(items, 2):
    print(c)

('A', 'B')
('A', 'C')
('B', 'C')

In [77]:
# Errors and Exception Handling
float('1.2345')
float('something')

ValueError: could not convert string to float: 'something'

In [78]:
# Exception
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
attempt_float('something')

'something'

# Files and the Operating System

In [82]:
%mkdir examples

In [98]:
# 파일 생성, w : 쓰기모드 r : 읽기 모드 a : 추가모드
f = open('examples/sample.txt','w')
for i in range(1, 3):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [99]:
# r : 읽기 모드
f = open('examples/sample.txt','r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

In [100]:
# a : 추가모드
f = open('examples/sample.txt','a')
for i in range(3, 4):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()
f = open('examples/sample.txt','r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

In [101]:
# with 블록이 끝나는 시점에 파일 핸들 f를 자동으로 닫아줌
path = 'examples/sample.txt'
with open(path) as f:
    lines = [x.rstrip() for x in f]