# Time Series

Pandas는 표준 시계열 도구와 데이터 알고리즘을 제공한다. 이를 통해 대량의 시계열 데이터를 쉽게 나누고, 집계하고, 불규칙적이며 고정된 빈도를 가즌 시계열을 리샘플링 할 수 있다. 대부분의 도구들은 금융이나 경제 관련 어플리케이션 그리고 서버 로그 데이터를 분석하는 데도 사용할 수 있다.

In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## Date and Time Data Types and Tools

In [2]:
from datetime import datetime
now = datetime.now()
now
now.year, now.month, now.day

(2022, 3, 11)

In [3]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta
delta.days
delta.seconds

56700

In [4]:
# timedelta는 두 datetime 객체 간의 시간적인 차이를 표현
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

## Converting Between String and Datetime

In [12]:
stamp = datetime(2011, 1, 3)
# str 포맷 규칙을 넘겨서 문자열로 나타낼 수 있다.
str(stamp)

'2011-01-03 00:00:00'

In [13]:
# strftime 포맷 규칙을 넘겨서 문자열로 나타낼 수 있다.
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [16]:
value = '2011-01-03'
# strptime 문자열을 날짜로 변경
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [17]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [7]:
# parse는 흔히 쓰이는 형식인 경우 날짜로 변경해준다.
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [8]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [9]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [22]:
# Pandas의 경우 DataFrame의 컬럼이나 축 색인으로 날짜가 담긴 배열을 사용한다. 표준 날짜 형식의 경우 to_datetime으로 빠르게 처리 가능하다. 
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [23]:
# 누락값으로 간주되어야 할 값도 처리
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

# Time Series Basics

In [29]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [34]:
ts + ts[::2]

2011-01-02   -0.409415
2011-01-05         NaN
2011-01-07   -1.038877
2011-01-08         NaN
2011-01-10    3.931561
2011-01-12         NaN
dtype: float64

In [35]:
# pandas는 numpy의 datetime64 자료형을 사용해서 나노초의 정밀도를 가지는 타임스탬프를 저장한다.
ts.index.dtype

dtype('<M8[ns]')

## Indexing, Selection, Subsetting

In [37]:
stamp = ts.index[2]
ts[stamp]

-0.5194387150567381

In [38]:
ts['1/10/2011']

1.9657805725027142

In [39]:
ts['20110110']

1.9657805725027142

In [40]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.092908
2000-01-02    0.281746
2000-01-03    0.769023
2000-01-04    1.246435
2000-01-05    1.007189
                ...
2002-09-22    0.930944
2002-09-23   -0.811676
2002-09-24   -1.830156
2002-09-25   -0.138730
2002-09-26    0.334088
Freq: D, Length: 1000, dtype: float64

In [41]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
dtype: float64

## Time Series with Duplicate Indices

In [43]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [44]:
# 특정 타임스탬프에 데이터가 몰려있다, 색인이 유일하지 않다.
dup_ts.index.is_unique

False

In [51]:
# level=0 (단일 단계 인덱싱)을 넘기는 것이다.
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [49]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# Date Ranges, Frequencies, and Shifting

In [54]:
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [55]:
# 문자열 D는 day 빈도, 빈도간 변환이나 리샘플링은 11.6절에서 다룬다. 여기서는 기본 빈도와 다중 빈도 사용법을 배운다
resampler = ts.resample('D')

## Generating Date Ranges

In [56]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [57]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [58]:
# 각 월의 마지막 영업일을 포함하도록 하고 싶다면 빈도값으로 'BM'
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

## Frequencies and Date Offsets

In [59]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [60]:
four_hours = Hour(4)
four_hours

In [61]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

## Shifting (Leading and Lagging) Data

시프트는 데이터를 시간 축에서 앞이나 뒤로 이동하는 것을 의미한다. Series나 DF는 색은 변경하지 않는 느슨한 shift 메서드를 가지고 있다.

In [62]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.488675
2000-02-29   -0.178098
2000-03-31    2.122315
2000-04-30    0.061192
Freq: M, dtype: float64

In [63]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.488675
2000-04-30   -0.178098
Freq: M, dtype: float64

In [64]:
ts.shift(-2)

2000-01-31    2.122315
2000-02-29    0.061192
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [65]:
ts.shift(2, freq='M')

2000-03-31    0.488675
2000-04-30   -0.178098
2000-05-31    2.122315
2000-06-30    0.061192
Freq: M, dtype: float64

## Shifting dates with offsets

In [70]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [71]:
# 앵커드 오프셋은 rollforward와 rollback 메서드를 사용해 명시적으로 각각 날짜를 앞으로 밀거나 뒤로 당길 수 있다.
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [72]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [73]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15    0.884111
2000-01-19   -0.608506
2000-01-23   -0.072052
2000-01-27    0.544066
2000-01-31    0.323886
2000-02-04   -1.683325
2000-02-08    0.526860
2000-02-12    1.858791
2000-02-16   -0.548419
2000-02-20   -0.279397
2000-02-24   -0.021299
2000-02-28   -0.287990
2000-03-03    0.089175
2000-03-07    0.522858
2000-03-11    0.572796
2000-03-15   -1.760372
2000-03-19    1.128179
2000-03-23    1.568606
2000-03-27   -0.342277
2000-03-31   -0.009813
Freq: 4D, dtype: float64

In [74]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.214301
2000-02-29   -0.062111
2000-03-31    0.221144
dtype: float64

In [75]:
# resample은 11.6절에서 다룬다.
ts.resample('M').mean()

2000-01-31    0.214301
2000-02-29   -0.062111
2000-03-31    0.221144
Freq: M, dtype: float64

# Time Zone Handling, 시간대 다루기